Gestor_OC_Gerdau/Service References/WS_ClientesWeb/WS_WebClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerObras">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerObrasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerObrasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerObrasSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerObras" />
  </wsdl:message>
  <wsdl:message name="ObtenerObrasSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerObrasResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_WebClientesSoap">
    <wsdl:operation name="ObtenerObras">
      <wsdl:input message="tns:ObtenerObrasSoapIn" />
      <wsdl:output message="tns:ObtenerObrasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_WebClientesSoap" type="tns:WS_WebClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerObras">
      <soap:operation soapAction="http://tempuri.org/ObtenerObras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_WebClientesSoap12" type="tns:WS_WebClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerObras">
      <soap12:operation soapAction="http://tempuri.org/ObtenerObras" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_WebClientes">
    <wsdl:port name="WS_WebClientesSoap" binding="tns:WS_WebClientesSoap">
      <soap:address location="http://192.168.1.195:83/WS/WS_WebClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_WebClientesSoap12" binding="tns:WS_WebClientesSoap12">
      <soap12:address location="http://192.168.1.195:83/WS/WS_WebClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>